:root {
  --color-primary: #8c61ff;
  --color-secondary: #44c2fd;
}

* {
  /* border: 1px solid black; */
}

/* background */
.bg--primary {
  background-color: var(--color-primary);
}
.bg--secondary {
  background-color: var(--color-secondary);
}

.img--container {
}

.form-control::placeholder {
  color: rgb(215, 215, 215);
}

label {
  font-weight: bolder;
  color: var(--color-primary);
}
